TZ=UTC

POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
POSTGRES_HOST_PORT=5433
AIRFLOW_DB=airflow
AIRFLOW_DB_USER=airflow
AIRFLOW_DB_PASSWORD=change_me
WAREHOUSE_DB=warehouse
WAREHOUSE_DB_USER=dwh
WAREHOUSE_DB_PASSWORD=change_me

AIRFLOW_UID=50000            # sous Linux/WSL : mets le résultat de `id -u`
AIRFLOW_WEB_PORT=8080
AIRFLOW_ADMIN_USER=admin
AIRFLOW_ADMIN_PASSWORD=change_me
AIRFLOW_FERNET_KEY=          # openssl rand -base64 32 | tr '+/' '-_'
AIRFLOW_SECRET_KEY=          # openssl rand -hex 32

SPARK_MASTER_UI_PORT=8081
SPARK_WORKER_UI_PORT=8082
SPARK_WORKER_CORES=2
SPARK_WORKER_MEMORY=3g

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change_me_min8chars
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001

PII_HASH_SALT=change_me
AFRISHOP_PII_SALT=replace_with_a_random_secret
